<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  <head>
    <title>{{title}}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{{relative_root}}/stylesheets/site.css" type="text/css" media="screen, projection" />
  </head>

  <body>

    <div id='header'>
      <div class="container">
        <div id="login">
          <a href="http://mark-bodell.net/PhpGedView/index.php">Login</a>
        </div>
        <h1><a href="{{relative_root}}/index.html">Family History of Mark and Bodell Esplin</a></h1>
      </div>
    </div>

    <div id='content'>
      <div class="container">
        {% if text_link or pdf_link %}
          <div id="menu">
            <ul>
              <li><a href="{{relative_root}}/index.html">Home</a></li>
              {% if text_link %}
                <li><a href="{{text_link}}">Text</a></li>
              {% endif %}
              {% if pdf_link %}
                <li><a href="{{pdf_link}}">PDF</a></li>
              {% endif %}
            </ul>
          </div>
        {% endif %}
        {{content}}
      </div>
    </div>

    <div class="footer">
      <div class="container">
      </div>
    </div>

  </body>

</html>
